@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/list/main.css';
@import "primer-core/index.scss";
@import "primer-labels/index.scss";

.header {
  background-color: #800000;
  color: #ffffff;
  h1 {
    margin-top: 0;
    padding: 20px;
  }
}

.container {
  display: flex;
  width: 100%;
  #classlist {
    display: grid;
    grid-template-rows: auto;
    width: 600px;
  }
  #fullcal {
    width: 100%;
  }
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #333;
  overflow: hidden;
  .nav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    #badge {
      margin-left: 5px;
    }
  }
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.classbox {
  border-bottom: 1px solid #ccc;
  text-align: left;

  .class-header-name {
    font: 200 50px/2 Helvetica, Verdana, sans-serif;
    padding-left: 10px;
    text-decoration: none;
    color: #000;
    display: block;
    width: 400px;

    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

  }

  .coursename {
    padding-left: 10px;
  }

  #badge {
    margin-right: 10px;
  }

  .alert-container {
    background-color: #ddd;
    box-shadow: inset 0 0 5px #000000;
    padding: 10px;
  }
}

.classbox:hover {
  background: #f6f6f6;
}

.classlist:last-child {
  border: none;
}

.class-header {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
